@charset "UTF-8";

@use "../core/use-setting" as set;
@use "../library/use-import-mixin" as mx;
@use "../library/use-import-variable" as var;
@use "../library/placeholder/pseudo-block";

/* ----------------------------------------------------------------
    JavaScript (Modal)
----------------------------------------------------------------- */
/* .modal
----------------------------------------------- */
.modal {
    @at-root {
        &_inner {
            position: relative;
            padding: 40px 20px;
            margin: 0 auto;
            min-height: calc(100vh - (40px * 2));
            max-width: 1000px;
            width: 100%;
        }

        &_content {
            position: relative;
            transform: translateY(80px);
            transition: transform .5s var.$ease-standard-curve .2s;

            .is-animate & {
                will-change: transform;
            }

            .is-show & {
                transform: translateY(0);
            }

            .is-hide & {
                transition-delay: 0s;
            }
        }

        // 見出し
        &_hdg {
            position: relative;
            margin: 0;

            @at-root {
                &_txt {
                    position: absolute;
                    top: 50%;
                    right: -30px;
                    box-sizing: border-box;
                    min-width: 400px;
                    padding: 50px 25px;
                    background: #0057a5;
                    color: #fff;
                    font-size: 3rem;
                    font-weight: 500;
                    text-align: left;
                    transform: translateY(-50%);
                }

                &_img {
                    overflow: hidden;
                    border-radius: 6px 6px 0 0;
                    background: #fff; // スクロール時に画像のチラツキを防止
                }
            }
        }

        &_content {
            padding: 50px 60px;
            background: #fff;
            text-align: left;

            > :last-child {
                margin-bottom: 0;
            }
        }

        // 閉じるボタン
        &_btn-close {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
            width: 50px;
            height: 50px;

            > button {
                position: relative;
                box-sizing: border-box;
                padding: 0;
                border: 0;
                width: 50px;
                height: 50px;
                background: #0057a5;
                color: transparent;
                transition: opacity .1s var.$ease-standard-curve;

                //×
                &::before,
                &::after {
                    @extend %pseudo-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 32px;
                    height: 2px;
                    background: #fff;
                }

                &::before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &::after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                @include mx.hover () {
                    opacity: .6;
                }
            }
        }

        // オーバーレイ
        &_overlay {
            background: rgba(0, 0, 0, .2);
        }
    }

    //===== Media Queries =====
    @include mx.rwd(set.$width-extra-small) {
        @at-root {
            &_inner {
                padding-right: 0;
                padding-left: 0;
            }

            // 見出し
            &_hdg {
                @at-root {
                    &_txt {
                        top: 40px;
                        right: 0;
                        padding: 20px 10px;
                        min-width: 230px;
                        font-size: 2.4rem;
                        transform: none;
                    }
                }
            }

            &_content {
                padding: 30px 20px;
            }

            // 閉じるボタン
            &_btn-close {
                width: 40px;
                height: 40px;

                > button {
                    width: 40px;
                    height: 40px;

                    &::before,
                    &::after {
                        width: 25px;
                    }
                }
            }
        }
    }
}

/* .fn-modal
----------------------------------------------- */
.fn-modal {
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    &.is-show {
        opacity: 1;
    }

    &.is-render {
        display: flex;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &.is-animate {
        transition: opacity .5s var.$ease-standard-curve;
    }

    &_overlay {
        bottom: 0;
        left: 0;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;

        &.is-overlay-animate {
            transition: opacity .5s var.$ease-standard-curve;
        }

        &.is-overlay-show {
            opacity: 1;
            z-index: 150;
        }
    }
}

html {
    &.is-modal-open {
        overflow: hidden;
    }
}
