@charset "UTF-8";

@use "../core/use-setting" as set;
@use "../library/use-import-mixin" as mx;
@use "../library/use-import-variable" as var;
@use "../library/placeholder/pseudo-block";

/* ----------------------------------------------------------------
    Tab (.tab[-*])
----------------------------------------------------------------- */
/* .tab-content-inner
----------------------------------------------- */
.tab-content-inner {
    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

/* .tab
----------------------------------------------- */
.tab {
    $root: &;

    margin: 40px 0 set.$gutter;

    &_list {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0 set.$gutter-content;
        font-size: 2.4rem;

        &_item {
            margin: 0;
            padding: 0 0 49px;
            max-width: 302px;
            width: 100%;
            align-items: stretch;

            &:not(:last-child) {
                margin-right: 11px;
            }

            &.is-select {
                position: relative;

                &::before {
                    @extend %pseudo-block;
                    @include mx.triangle(45px 25px, #f4f0e7, up);
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    &_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-radius: 10px;
        padding: 12px 10px 13px;
        width: 100%;
        background: #f4f0e7;
        transition: all .2s var.$ease-standard-curve;
        text-align: center;
        font-weight: 700;

        &[aria-selected="true"] {
            background: #000;
            color: #fff;
            border-color: #000;
            font-weight: 700;
        }
    }

    &_content {
        padding: 112px 0 135px;
        background: #f4f0e7;
    }

    &_panel {
        max-width: set.$width-content;
        margin: 0 auto;

        > :last-child {
            margin-bottom: 0;
        }
    }

    &.-color-a {
        #{$root}_btn {
            color: #9d4551;

            &[aria-selected="true"] {
                color: #fff;
                background: #9d4551;
            }
        }
    }

    &.-color-c {
        #{$root}_btn {
            color: #1c5a90;

            &[aria-selected="true"] {
                color: #fff;
                background: #1c5a90;
            }
        }
    }

    //===== Media Queries =====
    @include mx.rwd(set.$width-content-bp) {
        &_content {
            padding-right: set.$gutter-content;
            padding-left: set.$gutter-content;
        }
    }

    //===== Media Queries =====
    @include mx.rwd(ss) {

        &_list {
            justify-content: flex-start;
            overflow-x: auto;
            font-size: 1.4rem;

            &_item {
                min-width: 156px;

                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }

        &_content {
            padding-top: 56px;
            padding-bottom: 60px;
        }
    }
}

/* ----------------------------------------------------------------
    Function Tab (.fn-tab[-*])
----------------------------------------------------------------- */
/* .fn-tab
----------------------------------------------- */
.fn-tab {
    @at-root {
        #{&}_panel {
            opacity: 1;
            transition: all .3s var.$ease-standard-curve;

            &[hidden] {
                overflow: hidden;
                display: block;
                height: 0;
                visibility: hidden;
                opacity: 0;
                transform: translateX(5px);
            }
        }
    }
}
