@charset "UTF-8";

@use "../core/use-setting" as set;
@use "../library/use-import-mixin" as mx;
@use "../library/use-import-variable" as var;
@use "../library/placeholder/pseudo-block";
@use "sass:math";

/* ----------------------------------------------------------------
    Panel (.panel[-*])
----------------------------------------------------------------- */
/* .panel
----------------------------------------------- */
.panel {
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgba(51, 51, 51, .10);

    &_content {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        display: flex;
        flex-direction: column;
        padding: 40px 50px;
    }

    &_hdg {
        margin: 0 0 16px;
        text-align: center;
        font-size: 3rem;
        color: #505050;
        line-height: calc(36 / 30);

        > span {
            display: block;
        }

        &.-color-a {
            color: #9d4551;
        }

        &.-color-b {
            color: #5b7e45;
        }

        &.-color-c {
            color: #1c5a90;
        }
    }

    &_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        color: #666;
    }

    &_btn {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        display: flex;
        align-items: flex-end;
        margin: 30px 0 0;
    }

    //===== Media Queries =====
    @include mx.rwd(ss) {
        max-width: 335px;
        margin: 0 auto;

        &_hdg {
            font-size: 2.4rem;
        }

        &_list {
            font-size: 1.6rem;
        }
    }
}

/* .panel-02
----------------------------------------------- */
.panel-02 {
    margin: 88px 0;
    padding: 64px;
    border-radius: 15px;
    background: #f4f0e7;
    box-shadow: 5px 8px 8px rgba(51, 51, 51, .1);

    &_hdg {
        display: flex;
        justify-content: center;
        margin: 0 0 60px;
        font-size: 4.8rem;

        > span {
            position: relative;
            z-index: 1;
            padding: 0 44px;

            &::before {
                @extend %pseudo-block;
                position: absolute;
                bottom: -14px;
                left: 50%;
                z-index: -1;
                width: 100%;
                height: 52px;
                border-radius: 100vh;
                background: #fff;
                transform: translateX(-50%);
            }
        }
    }

    &_hdg-02 {
        margin: 0 0 32px;
        padding: 0 16px 16px;
        border-bottom: 1px solid #707070;
        font-size: 3.2rem;
    }

    &_lyt {
        display: flex;

        &_col,
        &_col-02 {
            > :last-child {
                margin-bottom: 0;
            }
        }

        &_col {
            flex-basis: percentage(math.div(485px, 1072px));
        }

        &_col-02 {
            margin: 0 0 0 62px;
        }
    }

    &_media {
        width: 100%;
    }

    &_list {
        padding: 0 0 0 16px;

        > dt {
            margin: 0 0 8px;
            font-size: 2.4rem;
            font-weight: 700;
        }

        > dd {
            margin: 0 0 21px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &_msg {
        position: relative;
        margin: 56px 0 0;
        padding: 40px 64px;
        border-radius: 15px;
        background: #fff;

        &::before {
            @extend %pseudo-block;
            @include mx.triangle(44px 32px, #fff, up);
            position: absolute;
            top: -32px;
            left: 64px;
        }

        &_inner {
            padding: 0 16px;

            > :last-child {
                margin-bottom: 0;
            }
        }
    }

    //===== Media Queries =====
    @include mx.rwd(ss) {
        margin: 56px 0;
        padding: 40px 12px;

        &_hdg {
            margin: 0 0 40px;
            font-size: 2.8rem;

            > span {
                padding: 0 32px;

                &::before {
                    bottom: -8px;
                    height: 32px;
                }
            }
        }

        &_hdg-02 {
            margin: 0 0 24px;
            padding: 0 8px 8px;
            font-size: 2.4rem;
        }

        &_lyt {
            flex-direction: column;

            &_col {
                margin: 0 0 24px;
            }

            &_col-02 {
                margin: 0;
            }
        }

        &_list {
            padding: 0 8px;

            > dt {
                margin-bottom: 8px;
                font-size: 2rem;
            }

            > dd {
                margin-bottom: 24px;
            }
        }

        &_msg {
            margin-top: 44px;
            padding: 32px 24px;

            &::before {
                top: -20px;
                border-right-width: 14px;
                border-bottom-width: 20px;
                border-left-width: 14px;
            }

            &_inner {
                padding: 0 8px;
            }
        }
    }
}
