@charset "UTF-8";

@use "../core/use-setting" as set;
@use "../library/use-import-mixin" as mx;
@use "../library/placeholder/centering";
@use "../library/placeholder/pseudo-block";

/* ----------------------------------------------------------------
    Content (.content[-*])
----------------------------------------------------------------- */
/* .content-main
----------------------------------------------- */
.content-main {

    //===== Media Queries =====
    @include mx.rwd(ss) {
        padding-top: 0;
    }
}

/* .content-inner
----------------------------------------------- */
.content-inner {
    max-width: set.$width-content;
    margin: 0 auto;

    //===== Media Queries =====
    @include mx.rwd(set.$width-content-bp) {
        padding: 0 set.$gutter-content;
    }
}

/* .content-fluid
----------------------------------------------- */
.content-fluid {
    background: #fff;
}

/* .content-fluid-02
----------------------------------------------- */
.content-fluid-02 {
    padding: 88px 0 104px;
    background: #f4f0e7;
}

/* .content-fluid-03
----------------------------------------------- */
.content-fluid-03 {
    background: #f7f7f7;
}