@charset "UTF-8";

@use "../core/use-setting" as set;
@use "../library/use-import-mixin" as mx;
@use "../library/placeholder/centering";
@use "../library/placeholder/pseudo-block";

/* ----------------------------------------------------------------
    Content (.content[-*])
----------------------------------------------------------------- */
/* .content-main
----------------------------------------------- */
.content-main {

    //===== Media Queries =====
    @include mx.rwd(ss) {
        padding-top: 0;
    }
}

/* .content-inner
----------------------------------------------- */
.content-inner {
    max-width: set.$width-content;
    margin: 0 auto;

    > :last-child {
        margin-bottom: 0;
    }

    //===== Media Queries =====
    @include mx.rwd(set.$width-content-bp) {
        padding: 0 set.$gutter-content;
    }
}

/* .content-fluid
----------------------------------------------- */
.content-fluid {
    padding: 128px 0 136px;
    background: #fff;

    .content-fluid-hdg + &,
    .content-fluid-msg + & {
        padding-top: 0;
    }

    //===== Media Queries =====
    @include mx.rwd(ss) {
        padding: 88px 0;

        .content-fluid-msg + & {
            padding-top: 47px;
        }
    }
}

/* .content-fluid-02
----------------------------------------------- */
.content-fluid-02 {
    padding: 88px 0 104px;
    background: #f4f0e7;

    //===== Media Queries =====
    @include mx.rwd(ss) {
        padding: 56px 0 64px;
    }
}

/* .content-fluid-03
----------------------------------------------- */
.content-fluid-03 {
    padding: 72px 0;
    background: #f7f7f7;

    //===== Media Queries =====
    @include mx.rwd(ss) {
        padding: 56px 0;
    }
}

/* .content-fluid-hdg
----------------------------------------------- */
.content-fluid-hdg {
    padding: 24px 0 88px;

    //===== Media Queries =====
    @include mx.rwd(ss) {
        padding: 16px 0 72px;
    }
}

/* .content-fluid-msg
----------------------------------------------- */
.content-fluid-msg {
    padding: 0 0 144px;
    background: url("/about/img/index-bg-01.png") no-repeat 50% calc(50% + 22px);

    //===== Media Queries =====
    @include mx.rwd(ss) {
        padding: 47px 12px;
        background-attachment: fixed;
    }
}
