@charset "UTF-8";

@use "../core/use-setting" as set;
@use "../library/use-import-mixin" as mx;
@use "../library/use-import-variable" as var;
@use "../library/placeholder/centering";
@use "../library/placeholder/pseudo-block";

/* ----------------------------------------------------------------
    Header (.header and .h-*)
----------------------------------------------------------------- */
/* .header
----------------------------------------------- */
.header {
    padding: 30px 0;
    background: #fff;

    //===== Media Queries =====
    @include mx.rwd(ss) {
        padding: 16px 0;
    }
}

/* .h-inner
----------------------------------------------- */
.h-inner {
    display: flex;
    max-width: set.$width-max;
    width: 100%;
    margin: 0 auto;

    //===== Media Queries =====
    @include mx.rwd(set.$width-content-bp) {
        padding-right: set.$gutter-content;
        padding-left: set.$gutter-content;
    }
}

/* .h-logo
----------------------------------------------- */
.h-logo {
    margin: 0 48px 0 0;

    //===== Media Queries =====
    @include mx.rwd(ss) {
        margin: 0 0 0 4px;
        width: 80px;
    }
}

/* .h-menu
----------------------------------------------- */
.h-menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
