@charset "UTF-8";

@use "sass:math";
@use "../core/use-setting" as set;
@use "../library/use-import-mixin" as mx;
@use "../library/use-import-variable" as var;
@use "../library/placeholder/centering";
@use "../library/placeholder/pseudo-block";

/* ----------------------------------------------------------------
    Navigation (.n[-*])
----------------------------------------------------------------- */
/* .n-global
----------------------------------------------- */
.n-global {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: calc(22 / 18);

    &_inner {
        display: flex;
        margin: 0;
    }

    &_item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &:not(:last-child) {
            // ボーダー
            &::before {
                @extend %pseudo-block;
                position: absolute;
                top: 50%;
                right: 0;
                height: 20px;
                width: 1px;
                margin-top: -10px;
                background: #ccc;
            }
        }
    }

    &_link {
        text-align: center;

        > span {
            display: block;
        }
    }

    &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100vh;
        min-width: 200px;
        min-height: 60px;
        background: #505050;
        color: #fff;
        font-weight: 400;
    }

    //===== Media Queries =====
    @include mx.rwd(ss) {
        align-items: center;
        padding: 19px 0 25px;
        width: 100%;
        font-size: 1.2rem;

        &_item {
            flex: 1;

            &:not(:last-child) {
                margin: 0;
            }

            &:not(.h-ss-hidden) {
                & + & {
                    border-left: 1px solid #000;
                }
            }
        }

        &_link {
            padding: 0;
            text-align: center;

            &::before,
            &::after {
                display: none;
            }
        }
    }
}
