@import url("//fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap&subset=japanese");
/*
  https://github.com/andy-piccalilli/modern-css-reset/blob/master/LICENSE
*/
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img, picture {
  max-width: 100%;
}

picture {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
/* ----------------------------------------------------------------
    Base
----------------------------------------------------------------- */
:root {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #000;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
  font-feature-settings: "palt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

a {
  color: #000;
  text-decoration: underline;
}
a[class] {
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #f00;
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

b,
em {
  color: #000;
  font-style: normal;
  font-weight: 700;
}

strong {
  color: #f00;
  font-style: normal;
  font-weight: 400;
}

img {
  height: auto;
  vertical-align: bottom;
}

p {
  margin: 0 0 32px;
}
@media only screen and (max-width: 767px) {
  p {
    margin-bottom: 18px;
  }
}

ul,
ol,
dl {
  margin: 0 0 40px;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  ul,
ol,
dl {
    margin-bottom: 32px;
  }
}

ul[class],
ol[class] {
  list-style: none;
}

dfn {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

iframe {
  border: 0;
}

input,
select {
  padding: 1px;
  font-size: 1.6rem;
}

input[type=file] {
  width: 100%;
}

fieldset {
  border: 0;
}

/* ----------------------------------------------------------------
    Centering Content
----------------------------------------------------------------- */
/* ----------------------------------------------------------------
    Pseudo element (Block)
----------------------------------------------------------------- */
.hdg-l2::before, .hdg-l2::after, .hdg-l2_inner::before, .n-global_item:not(:last-child)::before, .h-menu_btn::before, .h-menu_btn::after, .h-menu_btn > span::before {
  display: block;
  content: "";
}

/* ----------------------------------------------------------------
    Header (.header and .h-*)
----------------------------------------------------------------- */
/* .header
----------------------------------------------- */
.header {
  padding: 30px 0;
  background: #fff;
}
@media only screen and (max-width: 767px) {
  .header {
    padding: 16px 0 8px;
  }
  .header.is-menu-show {
    background: #f4f0e7;
  }
}

/* .h-inner
----------------------------------------------- */
.h-inner {
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media only screen and (max-width: 1240px) {
  .h-inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .h-inner {
    display: block;
  }
}

/* .h-logo
----------------------------------------------- */
.h-logo {
  z-index: 1;
  position: relative;
  margin: 0 48px 0 0;
}
@media only screen and (max-width: 767px) {
  .h-logo {
    width: 80px;
    margin: 0 0 0 4px;
  }
}

/* .h-menu
----------------------------------------------- */
.h-menu {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
}
.h-menu_btn {
  display: block;
  position: absolute;
  top: -48px;
  right: 24px;
  width: 35px;
  height: 28px;
  overflow: hidden;
  color: transparent;
}
.h-menu_btn[aria-expanded=true]::before, .h-menu_btn[aria-expanded=true]::after {
  top: 13px;
}
.h-menu_btn[aria-expanded=true]::before {
  transform: rotate(45deg);
}
.h-menu_btn[aria-expanded=true]::after {
  transform: rotate(-45deg);
}
.h-menu_btn[aria-expanded=true] > span::before {
  display: none;
}
.h-menu_btn::before, .h-menu_btn::after, .h-menu_btn > span::before {
  position: absolute;
  left: 0;
  width: 35px;
  height: 4px;
  border-radius: 100vh;
  background: #505050;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.h-menu_btn::before {
  top: 0;
}
.h-menu_btn::after {
  top: 24px;
}
.h-menu_btn > span::before {
  top: 12px;
}
@media only screen and (max-width: 767px) {
  .h-menu {
    margin: 0 -20px;
  }
  .h-menu_content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}

/* ----------------------------------------------------------------
    Navigation (.n[-*])
----------------------------------------------------------------- */
/* .n-global
----------------------------------------------- */
.n-global {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: calc(22 / 18);
}
.n-global_inner {
  display: flex;
  margin: 0;
}
.n-global_item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}
.n-global_item:first-child {
  padding-left: 0;
}
.n-global_item:last-child {
  padding-right: 0;
}
.n-global_item:not(:last-child)::before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 20px;
  margin-top: -10px;
  background: #ccc;
}
.n-global_link {
  text-align: center;
}
.n-global_link > span {
  display: block;
}
.n-global_link > b {
  display: none;
}
.n-global_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 60px;
  border-radius: 100vh;
  background: #505050;
  color: #fff;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .n-global {
    height: calc(100vh - 80px);
    padding: 27px 0;
    overflow-y: auto;
    background: #f4f0e7;
    font-size: 2.2rem;
  }
  .n-global_inner {
    flex-direction: column;
    max-width: 250px;
    margin: 0 auto;
  }
  .n-global_item {
    justify-content: flex-start;
    margin: 0 0 18px;
    padding: 0;
  }
  .n-global_item:not(:last-child)::before {
    display: none;
  }
  .n-global_link {
    text-align: left;
  }
  .n-global_link > span {
    display: inline;
  }
  .n-global_link > b {
    display: block;
    margin: 10px 0 0;
    color: #999;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  .n-global_btn {
    width: 100%;
    margin: 7px 0 0;
    font-size: 1.8rem;
  }
}

/* ----------------------------------------------------------------
    Content (.content[-*])
----------------------------------------------------------------- */
/* .content-main
----------------------------------------------- */
@media only screen and (max-width: 767px) {
  .content-main {
    padding-top: 0;
  }
}

/* .content-inner
----------------------------------------------- */
.content-inner {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 1240px) {
  .content-inner {
    padding: 0 20px;
  }
}

/* .content-fluid
----------------------------------------------- */
.content-fluid {
  background: #fff;
}

/* .content-fluid-02
----------------------------------------------- */
.content-fluid-02 {
  padding: 88px 0 104px;
  background: #f4f0e7;
}

/* .content-fluid-03
----------------------------------------------- */
.content-fluid-03 {
  background: #f7f7f7;
}

/* ----------------------------------------------------------------
    Footer (.footer and .f-*)
----------------------------------------------------------------- */
/* .footer
----------------------------------------------- */
.footer {
  padding: 40px 0;
  background: #fff;
  color: #666;
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 33px 0;
  }
}

/* .f-inner
----------------------------------------------- */
.f-inner {
  max-width: 1200px;
  margin: 0 auto;
}
.f-inner > :last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 1240px) {
  .f-inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* .f-lyt
----------------------------------------------- */
.f-lyt {
  display: flex;
  justify-content: space-between;
}
.f-lyt_col {
  display: flex;
  align-items: center;
}
.f-lyt_col-02 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media only screen and (max-width: 767px) {
  .f-lyt {
    flex-direction: column;
  }
  .f-lyt_col {
    flex-direction: column;
    margin: 0 0 39px;
  }
  .f-lyt_col-02 {
    align-items: center;
    margin: 0;
  }
}

/* .f-logo
----------------------------------------------- */
.f-logo {
  margin: 0 33px 0 0;
}
@media only screen and (max-width: 767px) {
  .f-logo {
    margin: 0 0 27px;
  }
}

/* .f-info
----------------------------------------------- */
@media only screen and (max-width: 767px) {
  .f-info {
    text-align: center;
  }
}

/* .f-list-desc
----------------------------------------------- */
.f-list-desc {
  margin: 0;
}
.f-list-desc_name {
  font-size: 2.4rem;
}
.f-list-desc_address > address {
  font-style: normal;
}
@media only screen and (max-width: 767px) {
  .f-list-desc_name {
    font-size: 2.2rem;
  }
  .f-list-desc_address {
    font-size: 1.4rem;
  }
}

/* .f-list-sns
----------------------------------------------- */
.f-list-sns {
  display: flex;
  align-items: center;
  margin: 0 0 24px;
}
.f-list-sns_item:not(:last-child) {
  margin: 0 36px 0 0;
}
@media only screen and (max-width: 767px) {
  .f-list-sns {
    margin: 0 0 40px;
  }
  .f-list-sns_item {
    max-width: 42px;
  }
  .f-list-sns_item:not(:last-child) {
    margin-right: 24px;
  }
}

/* .f-copyright
----------------------------------------------- */
.f-copyright {
  font-size: 1.4rem;
}
@media only screen and (max-width: 767px) {
  .f-copyright {
    font-size: 1.2rem;
  }
}

/* ----------------------------------------------------------------
    Heading (.hdg[-*])
----------------------------------------------------------------- */
/* .hdg-l2
----------------------------------------------- */
.hdg-l2 {
  position: relative;
  margin: 0 0 32px;
  padding: 0 0 27px;
  font-size: 5rem;
  text-align: center;
}
.hdg-l2::before, .hdg-l2::after, .hdg-l2_inner::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.8;
}
.hdg-l2::before {
  transform: translateX(calc(-50% - 10px));
  background: #9d4551;
}
.hdg-l2::after {
  transform: translateX(-50%);
  background: #5b7e45;
}
.hdg-l2_inner::before {
  transform: translateX(calc(-50% + 10px));
  background: #1c5a90;
}
.hdg-l2_sub {
  display: block;
  color: #999;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* ----------------------------------------------------------------
    Menu
----------------------------------------------------------------- */
/* .fn-menu
----------------------------------------------- */
.fn-menu_btn_alt {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
}
@media only screen and (max-width: 767px) {
  .fn-menu_content {
    visibility: hidden;
    transform: translateY(-10px);
    opacity: 0;
  }
  .fn-menu_content.is-animate {
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;
  }
  .fn-menu_content.is-show {
    visibility: visible;
  }
  [aria-expanded=true] + .fn-menu_content {
    transform: translateY(0);
    opacity: 1;
  }
}
