@charset "UTF-8";

//* ----------------------------------------------------------------
//    Font face
//----------------------------------------------------------------- *
@font-face {
    font-family: WinYuGothic;
    font-weight: normal;
    src: local(YuGothic-Medium),
    local("Yu Gothic Medium"); // for Chrome
}
@font-face {
    font-family: WinYuGothic;
    font-weight: bold;
    src: local(YuGothic-Bold),
    local("Yu Gothic"); // for Chrome
}
